/*-----buttons----*/
.btn-reset {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;padding: 0;
	border: 0;outline: none;
	background: none;
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.729vw 1.042vw;
	min-height: 3.125vw;
	text-align: center;
	font-weight: 400;
	font-size: 1.042vw;
	line-height: 1.563vw;
	color: var(--white-color);
	border: 0;outline: none;
	border-radius: 5px;
	background-color: var(--global-color);
	transition: .3s ease;
	&:hover {
		opacity: 0.9;
	}
	&.disabled {
		opacity: 0.4;
		cursor: auto;
	}
}

@include tablet {
	.button {
		padding: 14px 20px;
		min-height: 44px;
		font-size: 16px;
		line-height: 18px;
	}
}