/*----header-----*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: var(--white-color);
  background-color: transparent;
  z-index: 1000;
  transition: transform .3s ease, background-color .3s ease-in;
  &.active {
    background-color: rgba(30, 30, 30, .95);
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    .header__container {
      padding-top: 2vw;
      padding-bottom: 2vw;
    }
  }
  &-main {
    padding: 3.646vw;
    .logo {
      width: 9.583vw;
      flex-shrink: 0;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3vw;
    padding-bottom: 3vw;
    width: 100%;
    .logo {
      width: 9.583vw;
      flex-shrink: 0;
      margin-right: 3.750vw;
      img {
        max-height: 100%;
      }
    }
  }
}

.burger {
  &__open,
  &__close {
    display: none;
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.nav {
  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: .625vw 1.250vw;
      a {
        display: inline-flex;
        font-size: 1.042vw;
        font-weight: 400;
        line-height: 1.25;
        color: var(--white-color);
        transition: color .3s ease;
        &:hover {
          color: var(--global-color);
        }
      }
    }
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 1.250vw;
    a {
      display: inline-flex;
      font-size: 1.042vw;
      font-weight: 700;
      line-height: 1.25;
      color: var(--white-color);
      transition: color .3s ease;
      &:hover {
        color: var(--global-color);
      }
      &:not(:first-child) {
        margin-left: 2.5vw;
      }
    }
  }
}

@include tablet {
  .header {
    background-color: rgba(217, 217, 217, 0.01);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    &.active {
      .header__container {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
    &-main {
      padding: 15px;
      .logo {
        width: auto;
        height: 44px;
      }
    }
    &__container {
      justify-content: space-between;
      padding-top: 15px;
      padding-bottom: 15px;
      .logo {
        width: auto;
        height: 44px;
        margin-right: 20px;
      }
    }
  }
  
  .burger {
    &__open,
    &__close {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 44px;
      height: 44px;
      box-sizing: border-box;
      outline: none;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(217, 217, 217, 0.01);
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);
      transition: .3s ease;
      img {
        width: 90%;
      }
    }
    &__menu {
      align-items: flex-end;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: -100%;
      width: 320px;
      max-width: calc(100% - 15px);
      height: 100vh;
      padding: 15px;
      background-color: rgba(30, 30, 30, .95);
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);
    }
  }
  
  .nav {
    &__menu {
      flex-direction: column;
      align-items: flex-end;
      margin: 20px 0;
      li {
        padding: 0;
        width: 100%;
        text-align: right;
        a {
          width: 100%;
          text-align: right;
          font-size: 20px;
          padding: 14px 0;
          justify-content: flex-end;
        }
      }
    }
    &__links {
      align-items: flex-end;
      flex-direction: column;
      margin-left: 0;
      a {
        width: 100%;
        text-align: right;
        font-size: 20px;
        padding: 14px 0;
        justify-content: flex-end;
        &:not(:first-child) {
          margin-left: 0;
        }
      }
    }
  }
}

.burger__menu.open-menu {
  right: 0;
  z-index: 1000;
}