/*----header-----*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 500;
  transition: position 10s ease-in, background-color 0.3s ease-in;
  &-main {
    padding: 3.646vw;
    .logo {
      width: 9.583vw;
      flex-shrink: 0;
    }
  }
}