<!-- HEADER -->
<header class="header header-main" id="header">
  <a href="/" class="logo">
    <img src="/img/logo.png" alt="">
  </a>
  <div class="container header__container">
    <a href="/" class="logo">
      <img src="/img/logo.png" alt="">
    </a>
    <div class="burger__menu" id="burger-menu">
      <!-- Burger Close Button -->
      <button type="button" class="burger__close" id="burger-close">
        <img src="/img/icons/close.svg" alt="close burger menu">
      </button>
      <ul class="nav__menu">
        <li><a href="#">Резка</a></li>
        <li><a href="#">Гибка</a></li>
        <li><a href="#">Сварка</a></li>
        <li><a href="#">Покраска</a></li>
        <li><a href="#">Сложные корпусные изделия</a></li>
      </ul>
      <div class="nav__links">
        <a href="#">Заказать расчет стоимости</a>
        <a href="tel:+88005674578" class="phone">8 800 567 45 78</a>
      </div>
    </div>
    <!-- Burger Open Button -->
    <button type="button" class="burger__open" id="burger-open">
      <img src="/img/icons/burger.svg" alt="open burger menu">
    </button>
  </div>
</header>