/*-----benefits-----*/
.benefits {
  padding-bottom: 50px;
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.042vw;
    height: 67vh;
    max-height: 67vh;
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 1.667vw 1.667vw 2.708vw 1.667vw;
    color: var(--white-color);
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 2.083vw;
      font-weight: 400;
      line-height: 1.2;
      color: var(--white-color);
    }
    &__text {
      margin-top: 0.521vw;
      margin-bottom: 0;
      font-size: 1.042vw;
      font-weight: 400;
      line-height: 1.5;
      color: var(--white-color);
      &:not(:last-child) {
        margin-bottom: 0.521vw;
      }
    }
    &__points {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0.521vw 0 0 0;
      width: 100%;
      li {
        display: inline-flex;
        margin: 0.260vw 0.520vw 0.260vw 0;
        padding: 0.417vw 1.250vw;
        font-size: 1.042vw;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        color: var(--white-color);
        border-radius: 5.208vw;
        background: rgba(255, 255, 255, 0.17);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
      }
    }
  }
}

@include tablet {
  .benefits {
    padding-top: 50px;
    &__cards {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
      height: auto;
      max-height: none;
    }
    &-item {
      height: auto;
      padding: 32px 20px 36px 24px;
      min-height: 240px;
      &__title {
        font-size: 30px;
      }
      &__text {
        margin-top: 10px;
        font-size: 18px;
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
      &__points {
        margin-top: 10px;
        li {
          margin: 5px 10px 5px 0;
          padding: 8px 24px;
          font-size: 18px;
          border-radius: 70px;
        }
      }
    }
  }
}

@include mobile {
  .benefits {
    padding-top: 40px;
    padding-bottom: 40px;
    &__cards {
      gap: 12px;
    }
    &-item {
      padding: 24px 16px 20px 16px;
      min-height: 200px;
      &__title {
        font-size: 22px;
      }
      &__text {
        font-size: 16px;
      }
      &__points {
        li {
          padding: 6px 16px;
          font-size: 16px;
        }
      }
    }
  }
}