/*-----cta-----*/
.cta {
  padding-top: 1.563vw;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.500vw 2.500vw 2.500vw 6.5vw;
    border-radius: 5px;
    width: 100%;
    .hero__title {
      max-width: 720px;
    }
    .hero__right {
      margin-top: -4.167vw;
    }
  }
}

@include tablet {
  .cta {
    padding-top: 0;
    &__wrapper {
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      padding: 36px;
      .hero__title {
        max-width: 100%;
      }
      .hero__right {
        margin-top: 40px;
      }
    }
  }
}

@include mobile {
  .cta {
    .container {
      padding: 0;
    }
    &__wrapper {
      padding: 40px 15px;
      border-radius: 0;
      .hero__right {
        margin-top: 24px;
      }
    }
  }
}